@font-face {
	font-family: "Kingsbridge Cd Rg";
	src: local("Kingsbridge Cd Rg"), url("../fonts/Kingsbridge Cd Rg.otf");
}
@font-face {
	font-family: "CMU Sans Serif";
	src: local("CMU Sans Serif"), url("../fonts/cmunbsr.ttf");
}
@font-face {
	font-family: "Impact Label Reversed";
	src: local("Impact Label Reversed"), url("../fonts/Impact Label Reversed.ttf")
}
h1, h2 {
	font-family: "Kingsbridge Cd Rg";
}
h2::before {
    font-family: "Impact Label Reversed";
}
html, button {
	font-family: "CMU Sans Serif";
	font-weight: 500;
}